html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: black;
    font-family: 'Roboto', sans-serif;
}

/*Css選擇器(1-6)*/
/*1.取id為wrap的元素*/
#wrap {   
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

/*2.指定id為wrap的元素並是子對象選擇器
(只管直接的子層),元素選擇器
div可換為其他任何元素*/
#wrap > div {
    position: fixed;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
    filter: blur(20px);
    transform: scale(.5);
}

/*3.指定id為wrap的元素,
並是子對象選擇器(只管直接的子層),
元素選擇器div可換為其他任何元素
(指定div為active的元素)
*/
#wrap > div.active {
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
    filter: blur(0);
    transform: scale(1);
}

/*4.指定id為wrap的元素,
並是子對象選擇器id是gamePlay
(只管直接的子層)*/
#wrap > #gamePlay {
    opacity: 1;
    z-index: 0;
    transform: scale(1);
    filter: blur(0);
}

/*5.指定id為wrap的元素,
並是子對象選擇器(只管直接的子層),
元素選擇器div可換為其他任何元素
(指定div為active的元素)
相鄰兄弟選擇器,選擇所有的相鄰 (id為gamePlay)元素
*/
#wrap > div.active ~ #gamePlay {
    opacity: .75;
    filter: blur(10px);
    transform: scale(.95);
}

button {
    background-color: white;
    border: 0;
    border-radius: 200px;
    padding: 16px 24px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.25px;
    font-size: 16px;
    margin: 16px;
    min-width: 160px;
    outline: none;
    transition: .25s;
    opacity: .75;
    cursor: pointer;
}

/*6.滑鼠游標移至button元素時*/
button:hover {
    opacity: 1;
}

h1 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 48px;
    margin-top: 0;
}